[submodule "nvim-treesitter"]
	path = nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "plugins/start/treesitter"]
	path = plugins/start/treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "plugins/start/fugitive"]
	path = plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "plugins/start/gitsigns"]
	path = plugins/start/gitsigns
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "colors/start/catppuccin"]
	path = colors/start/catppuccin
	url = https://github.com/catppuccin/nvim
[submodule "plugins/start/lsp"]
	path = plugins/start/lsp
	url = ssh://git@github.com/prevostcorentin/nvim-lsp-config
